<h1>{{title}}</h1>

<p class="lead">{{fa-icon 'quote-left'}} {{description}} ... {{fa-icon 'quote-right'}}</p>

<hr/>

<div class="row main-content">
    <div class="col-md-8 offset-md-2">
        {{yield}}
    </div>
</div>
