{{#page-header title='Show' description=(concat 'Some more detailed information about ' model.name)}}
    <form>

        <div class="form-group row">
            <label for="government-id" class="col-2 col-form-label">Id:</label>
            <div class="col-10">
                <input title="id" class="form-control" type="text" value={{model.id}} id="government-id" readonly>
            </div>
        </div>

        <div class="form-group row">
            <label for="government-code" class="col-2 col-form-label">Code:</label>
            <div class="col-10">
                <input title="code" class="form-control" type="text" value={{model.code}} id="government-code" readonly>
            </div>
        </div>

        <div class="form-group row">
            <label for="government-name" class="col-2 col-form-label">Name:</label>
            <div class="col-10">
                <input title="name" class="form-control" type="text" value={{model.name}} id="government-name" readonly>
            </div>
        </div>

        <div class="form-group row">
            <label for="government-country" class="col-2 col-form-label">Country:</label>
            <div class="col-10">
                <input title="country" class="form-control" type="text" value={{model.country}} id="government-country" readonly>
            </div>
        </div>

        <div class="form-group row">
            <label for="government-display-kind" class="col-2 col-form-label">Display Kind:</label>
            <div class="col-10">
                <input title="display kind" class="form-control" type="text" value={{model.display_kind}} id="government-display-kind" readonly>
            </div>
        </div>

        <div class="form-group row">
            <label for="government-intro" class="col-2 col-form-label">Intro:</label>
            <div class="col-10">
                <textarea title="intro" class="form-control" id="government-intro" rows="3" readonly>{{model.intro}}</textarea>
            </div>
        </div>

        <div class="form-group row">
            <label for="government-kind" class="col-2 col-form-label">Kind:</label>
            <div class="col-10">
                <input title="kind" class="form-control" type="text" value={{model.kind}} id="government-kind" readonly>
            </div>
        </div>

        <div class="form-group row">
            <label for="government-location" class="col-2 col-form-label">Location:</label>
            <div class="col-10">
                <input title="location" class="form-control" type="text" value={{model.location}} id="government-location" readonly>
            </div>
        </div>

        <div class="form-group row">
            <label for="government-state" class="col-2 col-form-label">State:</label>
            <div class="col-10">
                <input title="state" class="form-control" type="text" value={{model.state}} id="government-state" readonly>
            </div>
        </div>

        <div class="form-group row">
            <label for="government-lat" class="col-2 col-form-label">Latitude:</label>
            <div class="col-10">
                <input title="latitude" class="form-control" type="text" value={{model.lat}} id="government-lat" readonly>
            </div>
        </div>

        <div class="form-group row">
            <label for="government-lon" class="col-2 col-form-label">Longitude:</label>
            <div class="col-10">
                <input title="longitude" class="form-control" type="text" value={{model.lon}} id="government-lon" readonly>
            </div>
        </div>

        <div class="form-group row">
            <label for="government-website" class="col-2 col-form-label">Website:</label>
            <div class="col-10">
                <input title="website" class="form-control" type="text" value={{model.website}} id="government-website" readonly>
            </div>
        </div>

        <div class="form-group row">
            <label for="government-resource-uri" class="col-2 col-form-label">Resource URI:</label>
            <div class="col-10">
                <input title="resource uri" class="form-control" type="text" value={{model.resource_uri}} id="government-resource-uri" readonly>
            </div>
        </div>

        <div class="form-group row">
            <label for="government-slug" class="col-2 col-form-label">Slug:</label>
            <div class="col-10">
                <input title="slug" class="form-control" type="text" value={{model.slug}} id="government-slug" readonly>
            </div>
        </div>
    </form>

{{/page-header}}
