{{#page-header title='Show' description=(concat 'Some more detailed information about ' model.name)}}
    <h2>{{model.name}}</h2>
    <div class="row">
        <div class="col-md-6">
            <form>

                <div class="form-group row">
                    <label for="government-id" class="col-2 col-form-label">Id:</label>
                    <div class="col-10">
                        <input title="id" class="form-control" type="text" value={{model.id}} id="government-id" readonly>
                    </div>
                </div>

                {{#if model.code}}
                    <div class="form-group row">
                        <label for="government-code" class="col-2 col-form-label">Code:</label>
                        <div class="col-10">
                            <input title="code" class="form-control" type="text" value={{model.code}} id="government-code" readonly>
                        </div>
                    </div>
                {{/if}}

                {{#if model.country}}
                    <div class="form-group row">
                        <label for="government-country" class="col-2 col-form-label">Country:</label>
                        <div class="col-10">
                            <input title="country" class="form-control" type="text" value={{model.country}} id="government-country" readonly>
                        </div>
                    </div>
                {{/if}}

                {{#if model.intro}}
                    <div class="form-group row">
                        <label for="government-intro" class="col-2 col-form-label">Intro:</label>
                        <div class="col-10">
                            <textarea title="intro" class="form-control" id="government-intro" rows="3" readonly>{{model.intro}}</textarea>
                        </div>
                    </div>
                {{/if}}

                <div class="form-group row">
                    <label for="government-kind" class="col-2 col-form-label">Kind:</label>
                    <div class="col-10">
                        <input title="kind" class="form-control" type="text" value={{model.kind}} id="government-kind" readonly>
                    </div>
                </div>

                {{#if model.location}}
                    <div class="form-group row">
                        <label for="government-location" class="col-2 col-form-label">Location:</label>
                        <div class="col-10">
                            <input title="location" class="form-control" type="text" value={{model.location}} id="government-location" readonly>
                        </div>
                    </div>
                {{/if}}

                {{#if model.state}}
                    <div class="form-group row">
                        <label for="government-state" class="col-2 col-form-label">State:</label>
                        <div class="col-10">
                            <input title="state" class="form-control" type="text" value={{model.state}} id="government-state" readonly>
                        </div>
                    </div>
                {{/if}}

                {{#if model.lat}}
                    <div class="form-group row">
                        <label for="government-latlong" class="col-2 col-form-label">Lat/long:</label>
                        <div class="col-10">
                            <input title="latlong" class="form-control" type="text" value={{format-latlong model.lat model.lon}} id="government-latlong" readonly>
                        </div>
                    </div>
                {{/if}}

                {{#if model.website}}
                    <div class="form-group row">
                        <label for="government-website" class="col-2 col-form-label">Website:</label>
                        <div class="col-10">
                            <input title="website" class="form-control" type="text" value={{model.website}} id="government-website" readonly>
                        </div>
                    </div>
                {{/if}}

                {{#if model.resource_uri}}
                    <div class="form-group row">
                        <label for="government-resource-uri" class="col-2 col-form-label">Resource URI:</label>
                        <div class="col-10">
                            <input title="resource uri" class="form-control" type="text" value={{model.resource_uri}} id="government-resource-uri" readonly>
                        </div>
                    </div>
                {{/if}}

                {{#if model.slug}}
                    <div class="form-group row">
                        <label for="government-slug" class="col-2 col-form-label">Slug:</label>
                        <div class="col-10">
                            <input title="slug" class="form-control" type="text" value={{model.slug}} id="government-slug" readonly>
                        </div>
                    </div>
                {{/if}}
            </form>
        </div>

        <div class="col-md-6">
            <iframe class="embed-responsive-item"
                width="100%"
                height="100%"
                frameborder="0" style="border:0"
                src={{googlemaps}}>
            </iframe>
        </div>
    </div>

    <hr/>

    {{#if showTerms}}
        <h2>Terms <a href="#" class="btn btn-success" {{action 'showTerms' false}}>Hide</a></h2>

        <div class="row">
            <div class="col-md-6 piechart-sliders">
                {{#each segments as |segment index|}}
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                <strong>{{segment.label}}</strong><br/>
                                <span id="slider-value-{{index}}" class="slider-value">
                                    {{format-money segment.value symbol="€" precision=0 thousand="." decimal="," format="%s %v"}}
                                </span>
                            </p>
                        </div>
                        <div class="col-md-5">
                            {{x-range-input id=(concat 'slider-' index) value=segment.percentage action=(action 'updateSlider' index)}}
                        </div>
                        <div class="col-md-1">
                            <p><span id="slider-percentage-{{index}}" class="slider-percentage">{{format-percentage segment.percentage}}</span></p>
                        </div>
                    </div>
                {{/each}}
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            <strong>Total</strong><br/>
                            <span id="slider-value-total">
                                {{format-money sliderValueTotal symbol="€" precision=0 thousand="." decimal="," format="%s %v"}}
                            </span>
                        </p>
                    </div>
                    <div class="col-md-5">
                    </div>
                    <div class="col-md-1">
                        <strong>Total</strong><br/>
                        <p>
                            <span id="slider-percentage-total">
                                {{format-percentage sliderPercentageTotal}}
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                {{d3-piechart
                    title=title
                    subtitle=subtitle
                    segments=segments
                }}
            </div>
        </div>

        {{models-table
            data=terms
            columns=columnsTerms
            filteringIgnoreCase=true
            showColumnsDropdown=false
            customIcons=customIcons
            customClasses=customClasses
            simplePaginationTemplate="components/models-table/simple-pagination"
        }}
    {{else}}
        <h2>Terms <a href="#" class="btn btn-success" {{action 'showTerms' true}}>
            {{#if loadingTerms}}
                {{fa-icon 'spinner' spin=true}}
            {{/if}}
            Show
            </a>
        </h2>

        <form class="form-inline">
            <label for="year">Year:</label>
            {{#x-select value=year id="year" class="form-control" action="selectYear" as |xs|}}
                {{#each years as |year|}}
                    {{#xs.option value=year}}{{year}}{{/xs.option}}
                {{/each}}
            {{/x-select}}

            <label for="period">Period:</label>
            {{#x-select value=period id="period" class="form-control" action="selectPeriod" as |xs|}}
                {{#each periods as |period|}}
                    {{#xs.option value=period.value}}{{period.text}}{{/xs.option}}
                {{/each}}
            {{/x-select}}

            <label for="direction">Direction:</label>
            {{#x-select value=direction id="direction" class="form-control" action="selectDirection" as |xs|}}
                {{#each directions as |direction|}}
                    {{#xs.option value=direction.value}}{{direction.text}}{{/xs.option}}
                {{/each}}
            {{/x-select}}
        </form>
    {{/if}}

    <hr/>

    {{#if showMetrics}}
        <h2>Metrics <a href="#" class="btn btn-success" {{action 'showMetrics' false}}>Hide</a></h2>
        {{#if metrics.length}}
            {{models-table
                data=metrics
                columns=columnsMetrics
                filteringIgnoreCase=true
                showColumnsDropdown=false
                customIcons=customIcons
                customClasses=customClasses
                simplePaginationTemplate="components/models-table/simple-pagination"
            }}
        {{else}}
            <p>No metrics found.</p>
        {{/if}}
    {{else}}
        <h2>Metrics <a href="#" class="btn btn-success" {{action 'showMetrics' true}}>Show</a></h2>
    {{/if}}

{{/page-header}}
