{{#page-header title='Demo' description='Let\'s put our heads together and fluff our feathers'}}

    <div class="row">
        <div class='col-md-12'>
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link{{if (eq tab 0) ' active' ''}}" href="#" {{action 'selectTab' 0}}>Intro</a></li>
                <li class="nav-item"><a class="nav-link{{if (eq tab 1) ' active' ''}}" href="#" {{action 'selectTab' 1}}>Compare Results</a></li>
                <li class="nav-item"><a class="nav-link{{if (eq tab 2) ' active' ''}}" href="#" {{action 'selectTab' 2}}>About</a></li>
            </ul>
        </div>
    </div>

    {{#if (eq tab 0)}}

        <p class="lead">
            Hoe werkt het?
        </p>

<p>
De gebruiker neemt de voorgestelde begroting van de gemeente als uitgangspunt om een tegenbegroting in te dienen. De waarden op de slidebar zijn eenvoudig te veranderen door deze te slepen naar het gewenste bedrag.
</p>
        <div class="row">
            <div class="col-md-9 with-border">
                <h4>Bestuur en ondersteuning</h4>
                <input type="range" name="BestuurEnOndersteuning" value="10">

                <h4>Veiligheid</h4>
                <input type="range" name="Veiligheid" value="50">

                <h4>Verkeer, vervoer en waterstaat</h4>
                <input type="range" name="VerkeerVervoerWaterstaat" value="12">

                <h4>Economie</h4>
                <input type="range" name="Economie" value="34">

                <h4>Onderwijs</h4>
                <input type="range" name="Onderwijs" value="10">

                <h4>Sport, cultuur en recreatie</h4>
                <input type="range" name="SportCultuurRecreatie" value="78">

                <h4>Sociaal domein</h4>
                <input type="range" name="SociaalDomein" value="20">

                <h4>Volksgezondheid en milieu</h4>
                <input type="range" name="VolksgezondheidMilieu" value="90">

                <h4>Volkshuisvesting, ruimtelijke ordening en stedelijke vernieuwing</h4>
                <input type="range" name="Volkshuisvesting" value="30">

            </div>
            <div class="col-md-3 with-border">
                <img src="assets/images/pie-chart.png"/>
            </div>
        </div>

    {{else if (eq tab 1)}}

        <p class="lead">
            Vergelijk begrotingen
        </p>

<p>
De resultaten worden zowel gevisualiseerd in de slidebar als in een cirkeldiagram. Gebruikers kunnen begrotingen vergelijken en steunen van andere deelnemers. Het doel hiervan is om duidelijk te krijgen welke begroting het breedst wordt gedragen.
</p>

        <div class="row">
            <div class="col-md-9 with-border">
                <img src="assets/images/vote.png"/>
            </div>

            <div class="col-md-3 with-border">
                <img src="assets/images/pie-chart.png"/>
            </div>
        </div>

    {{else if (eq tab 2)}}

        <p class="lead">Some text goes here</p>

    {{/if}}

{{/page-header}}
<script src="assets/javascripts/slider.js"></script>
